{% extends 'auth_base.html' %}
{% block title %}Register{% endblock title %}

{% block auth %}
<h2 class="text-white text-center mb-5">Create Your TommyTech Store Account</h2>
{% if messages %}
    <div class="messages.container">
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <a>{{message}}</a>
            </div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success">
                <a>{{message}}</a>
            </div>
            {% else %}
            <div class="alert alert-info">
                <a></a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<form method="post" action="{% url 'accounts:register' %}">
    {% csrf_token %}
    <!-- Username Input -->
    <div class="mb-3 input-group">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
        <input type="text" class="form-control" name="username" placeholder="Enter your Username">
    </div>
    <!-- Email Input -->
    <div class="mb-3 input-group">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        <input type="email" class="form-control" name="email" placeholder="Enter your email address">
    </div>

    <!-- Password Input -->
    <div class="mb-3 input-group">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        <input type="password" class="form-control" id="password" name="password1" placeholder="Password">
    </div>

    <div class="mb-3 input-group">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        <input type="password" class="form-control" id="password1" name="password2" placeholder="Confirm Password">
    </div>

    <!-- Show & Hide Password Toggle -->
    <div class="mb-3 text-end">
        <small style="cursor: pointer;" class="showPasswordToggle py-3 ">SHOW</small>
    </div>

    <!-- Login Button -->
    <button type="submit" class="btn btn-primary w-100">Register</button>

    <!-- Signup Link -->
    <p class="text-white mt-3 d-flex justify-content-center">Already have an account? <a href="{% url 'accounts:login' %}" style="margin-left:5px;" class="text-primary">Login</a></p>
</form>
{% endblock auth %}