{% extends 'base.html' %}
{% load static %}

{% block title %}{% if category %}{{category.name}} Details {%else%}All Product Details{% endif %}{% endblock title %}

{% block main-content %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary" href="#">TommyTech Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'shop:homepage' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'shop:product' %}">Products</a></li>
                
                <li class="nav-item"><a class="nav-link" href="{% url 'cart:cart_detail' %}">Cart</a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
                
            </ul>
        </div>
    </div>
</nav>

<button class="btn btn-primary my-3 rounded-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
    Category
</button>

<div class="offcanvas offcanvas-start" id="sidebarMenu">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>

    
    <div class="offcanvas-body">
        {% for cat in categories %}
        <ul class="nav-flex-column">
            
            <li class="nav-item list-group-item rounded shadow-sm border-0 " style="cursor: pointer;" ><a href="{% url 'shop:category' category_slug=cat.slug %}" class="nav-link ">{{cat.name}}</a></li>
            
        </ul>
        {% endfor %}
    </div>
    
</div>


    <!-- Product Details -->
     {% for product in products %}
    <div class="container my-5"  >
        <div class="row" >
            <div class="col-md-6 d-flex align-items-center justify-content-center" >
                {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid img-thumbnail product-img" style="width:100%; max-width: 300px; max-height: 350px; height:auto; object-fit: cover; border-radius: 5px;" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="col-md-6" style="background-color:rgba(200,200,200,0.1);">
			<br/>
                <h2>{{ product.name }}</h2>
                <p><strong>Price:</strong> ${{product.price}}</p>
                <p>{{ product.description }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
					<br/>
                    <input class="btn btn-success" type="submit" value="Add to Cart">
                </form>
            </div>
        </div>
    </div>
	<hr/>
    {% empty %}
        <p>No product avaliable in this category.</p>
    {% endfor %}

{% endblock main-content %}